/* DAHSBOARD */

.lcp-dashboard {
  margin-bottom: 40px;
  margin-top: -30px;
  align-items: flex-start;
}


/* LOAN CARD */

.lcp-loan {
  position: relative;
  width: 380px !important;
  max-width: 90%;
}

.lcp-loan .uk-card {
  padding: 25px 25px 30px;
  height: 190px;
  border: 1px solid var(--graylightx);
  border-radius: 3px;
  transition: border 0.5s ease-in-out;
  transition: all .25s ease-in-out;
}

.lcp-loan:hover .uk-card {
  border: 1px solid var(--gray);
  text-decoration: none;
  transform: scale(1.05);
}

.lcp-loan:hover .lcp-loan-plus img {
  filter: contrast(50%);
}

.uk-text-meta.lcp-loan-id {
  margin-top: -5px;
  margin-bottom: 12px;
}

.uk-text-meta.lcp-loan-id small {
  color: #003267;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
  display: inline-block;
  max-width: 50%;
}

.lcp-loan .lcp-loan-balance small {
  color: var(--graydark);
  text-transform: uppercase;
  letter-spacing: 0.15px;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 3px;
  display: block;
}

.lcp-loan .lcp-loan-balance .number {
  font-size: 26px;
  font-weight: 600;
  color: var(--blue);
  line-height: 1;
  margin: 3px 0;
  letter-spacing: -0.05px;
  display: block;
}

.lcp-loan .lcp-loan-balance .date {
  color: var(--bluedark);
  font-weight: 500;
  font-size: 13px;
  margin: 0 0 5px;
  display: block;
}

.lcp-loan .lcp-loan-plus img {
  margin: 14px 0;
}

.lcp-loan .uk-label-pill {
  border-radius: 300px;
  font-size: 13px;
  font-weight: 500;
  width: auto;
  margin: 0 25px;
  position: relative;
  top: -19px;
  line-height: 20px;
  padding: 8px 20px;
  background: var(--bluelightx);
  border: 1px solid var(--bluelightxx);
}

/* LOAN CARD OVERDUE */

.lcp-loan.loan-overdue .uk-card {
  border: 2px solid var(--red);
}

.lcp-loan.loan-overdue .lcp-loan-balance .date,
.lcp-loan.loan-overdue .lcp-loan-balance .number.uk-text-bluelight {
  color: var(--red) !important;
}

.lcp-loan.loan-overdue .lcp-loan-balance small.uk-text-red {
  font-size: 11px;
  line-height: 18px;
}

.lcp-loan.loan-overdue .lcp-loan-balance .date img {
  filter: hue-rotate(130deg);
}

.lcp-loan.loan-overdue .uk-label-pill {
  background: var(--red);
  border: 1px solid var(--red);
}

.lcp-loan.loan-overdue .uk-label-pill .uk-icon img {
  height: 20px;
  margin-bottom: 1px;
}


/* LOAN CARD AUTOPAY */

.lcp-loan.loan-autopay .lcp-nextpayment {
  margin-top: -8px;
}

.lcp-loan.loan-autopay .lcp-nextpayment img {
  margin-right: 8px;
  height: 44px;
}

.lcp-loan.loan-autopay .lcp-nextpayment span {
  font-size: 12.5px;
  letter-spacing: 0.2px;
  color: var(--bluedark);
  font-weight: 400;
  text-transform: uppercase;
}

/* DASHBOATD OPTIONS */

.lcp-dashboard-options {
  margin-top: 60px;
}

/* LOAN CTA */

.lcp-cta .uk-card {
  transition: border 0.5s ease-in-out;
  transition: all .25s ease-in-out;
  padding: 0;
  max-width: 340px;
  width: 340px;
  border: 3px solid var(--bluelight);
  box-shadow: 0 0 15px 0px var(--lpblue);
  height: 190px;
  border-radius: 5px;
}

.lcp-cta:hover .uk-card {
  text-decoration: none;
  transform: scale(1.05);
}

/* LOAN CTA VIRTUAL CARD */

.lcp-cta.lcp-virtualcard .uk-card img {
  margin: -2px;
  min-width: calc(100% + 3px);
  min-height: calc(100% + 3px);
  max-height: 188px;
}

/* LOAN CTA REFINANCE */

.lcp-cta.lcp-refinance .uk-card {
  border-left: 3px solid var(--bluelightxx);
  border-right: 3px solid var(--bluelightxx);
  border-top: 3px solid var(--bluelightxx);
  border-bottom: 3px solid var(--bluelightxx);
  background-image: linear-gradient(to top, #FFFFFF 10%, #DFE9F3 80%);
  padding: 20px 25px 20px 20px;
  line-height: 1.3;
}

.lcp-cta.lcp-refinance .uk-card img {
  width: 90px;
  margin-left: -2.5px;
  margin-top: -2.5px;
  margin-right: 10px;
}

.lcp-cta.lcp-refinance .uk-card div {
  margin-right: -4px;
  margin-left: 4px;
  font-weight: 400;
}

.lcp-cta.lcp-refinance .uk-card .uk-badge {
  background: var(--bluelightx);
  padding: 0 22px;
  height: 35px;
  margin-left: -4px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
}

// Fixes
button:hover {
  cursor: pointer;
}

.left-item {
  text-align: left;
}

.non-overdue {
  background: var(--bluelightx) !important;
  border: 1px solid var(--bluelightxx) !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}