
/* PAYMENTS TABLE */

.lcp-payment-history {
  padding: 20px 40px;
}
.lcp-payment-history table td {
  padding: 15px;
}
.lcp-payment-history .uk-table-hover tbody tr:hover,
.lcp-payment-history .uk-table-hover>tr:hover {
  background: #DCF6F9;
}
.lcp-payment-history .uk-table-divider>:first-child>tr:not(:first-child),
.lcp-payment-history .uk-table-divider>:not(:first-child)>tr,
.lcp-payment-history .uk-table-divider>tr:not(:first-child) {
  border-top: 2px dotted var(--graylight);
}
