
/* LOAN DETAILS - PAYMENT BOX */

.lcp-loan-payment-details {
  max-width: 840px;
}
.lcp-loan-payment-details .lcp-payment {
  min-width: 33%;
  text-align: center;
}
.lcp-loan-payment-details .lcp-payment .uk-card-body {
  padding: 35px;
}
.lcp-loan-payment-details .lcp-payment .uk-button {
  padding: 18px 30px;
}

@media (max-width: 960px) {
  .lcp-loan-payment-details {
    max-width: 90%;
  }
  .lcp-loan-payment-details .lcp-payment .uk-card-body {
    padding: 30px;
  }
}
@media (max-width: 640px) {
  .lcp-loan-payment-details {
    max-width: 85%;
  }
  .lcp-loan-payment-details .lcp-payment {
    min-width: 48%;
  }
  .lcp-loan-payment-details .lcp-payment .uk-card-body {
    padding: 30px 25px;
  }
  .lcp-loan-payment-details .lcp-payment:last-child .uk-card-body {
    padding-top:0;
  }
}
