
/* LOAN DETAILS - HEAD */


@media (max-width: 639px) {
  .lcp-section-head .lcp-loan-info {
    display: block;
  }
  .lcp-section-head .lcp-loan-info .lcp-info-left {
    justify-content: center;
    margin-bottom: 15px;
  }
}
