/* LOAN DETAILS - MORE BOX */

.lcp-loan-details {
  margin-top: 30px;
  max-width: 840px;
}
.lcp-loan-details .lcp-details .uk-card-header {
  padding: 15px 35px;
  border: 0;
}
.lcp-loan-details .lcp-details .uk-card-body {
  padding: 30px 30px 35px;
}
.lcp-loan-details .lcp-details + .lcp-details {
  margin-top: 30px;
}

@media (max-width: 960px) {
  .lcp-loan-details {
    max-width: 90%;
  }
  .lcp-loan-details .lcp-details .uk-card-body {
    padding: 30px;
  }
}
@media (max-width: 640px) {
  .lcp-loan-details {
    max-width: 85%;
  }
  .lcp-loan-details .lcp-details .uk-card-body {
    padding: 30px 25px;
  }
}
