/* LOAN DETAILS - AUTOPAY BOX */

.lcp-loan-payment-details-autopay {
  max-width: 840px;
}

.lcp-loan-payment-details-autopay .lcp-payment {
  min-width: 30%;
}

.lcp-loan-payment-details-autopay .lcp-payment:first-child {
  width: 40%;
  text-align: left;
}

.lcp-loan-payment-details-autopay .lcp-payment .uk-card-body {
  padding: 35px;
}

.lcp-loan-payment-details-autopay .lcp-payment .uk-button {
  padding: 18px 30px;
}

@media (max-width: 960px) {
  .lcp-loan-payment-details-autopay {
    max-width: 90%;
  }

  .lcp-loan-payment-details-autopay .lcp-payment .uk-card-body {
    padding: 30px;
  }
}

@media (max-width: 640px) {
  .lcp-loan-payment-details-autopay {
    max-width: 85%;
  }

  .lcp-loan-payment-details-autopay .lcp-payment {
    min-width: 48%;
  }

  .lcp-loan-payment-details-autopay .lcp-payment .uk-card-body {
    padding: 30px 25px;
  }

  .lcp-loan-payment-details-autopay .lcp-payment:last-child .uk-card-body {
    padding-top: 0;
  }
}

/* EXTRAPAYMENTS BOX */

.lcp-extrapayments {
  margin-bottom: 30px !important;
}

.lcp-extrapayments-form {
  max-width: 340px;
  margin: 20px auto 0 auto;
}

// Fixes
.buttonEditPaymentMethod {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial,
    sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}