
/* PAYMENTS TABLE */

.lcp-payment-history {
    padding: 20px 40px;
  }
  .lcp-payment-history table td {
    padding: 15px;
  }
  .lcp-payment-history .uk-table-hover tbody tr:hover,
  .lcp-payment-history .uk-table-hover>tr:hover {
    background: #F7F8F9;
    box-shadow: inset 0 0 15px 2px #E6E9EE;
  }
  .lcp-payment-history .uk-table-divider>:first-child>tr:not(:first-child),
  .lcp-payment-history .uk-table-divider>:not(:first-child)>tr,
  .lcp-payment-history .uk-table-divider>tr:not(:first-child) {
    border-top: 2px dotted var(--graylight);
  }
  
  /* PAYMENTS FILTERS */
  
  .lcp-filters .uk-button {
    height: 50px;
    line-height: 1;
    padding: 0 30px;
    margin: 5px;
  }
  .lcp-filters select {
    height: 50px;
    line-height: 40px;
    padding: 0;
    margin:  0;
  }
  .lcp-filters .uk-form-custom select + .uk-button {
    font-weight: 400;
    text-transform: inherit;
    min-width: 240px;
    text-align: left;
    font-size: 15px;
    letter-spacing: normal;
    color: var(--graydarkx);
  }
  .lcp-filters .uk-form-custom select:hover + .uk-button {
    border-color: var(--blue);
    color: var(--blue);
  }
  
  /* PAYMENTS LOADMORE */
  
  .loading-more .uk-button {
    padding: 10px 50px 10px 10px;
    color: var(--graydark);
    font-size: 13px;
  }
  