
/* MY ACCOUNT LEFT */

.lcp-profile {
  position: relative;
  margin: 5px !important;
}

.lcp-profile .lcp-profile-right {
  margin-left: 10px;
}
.lcp-profile .lcp-profile-right .uk-button-link {
  line-height: 1;
}
.lcp-profile .lcp-profile-right .lcp-profile-info {
  margin-top: 50px;
}
.lcp-profile .lcp-profile-right .lcp-profile-info p {
  margin-left: -10px;
}

/* MY ACCOUNT RIGHT */

.lcp-profile-buttons {

}

.lcp-profile-buttons .uk-button {
  background-image: linear-gradient(to bottom, #FFFFFF 2%, #FCFCFD 22%, #F8F9FA 41%, #F5F6F8 61%, #F1F3F5 80%, #EEF0F3 100%);
  box-shadow: inset 0 0 0 1.5px #DEE2E8, 0 0 4px 0 rgba(193,198,206,0.35);
  border: none;
  padding: 16px 20px 20px;
  margin: 5px;
  max-width: 130px;
  max-height: 130px;
  min-height: 130px;
  transition: all .25s ease-in-out;
}
.lcp-profile-buttons .uk-button:hover {
  box-shadow: inset 0 0 0 1.5px var(--blue), inset 0 0 5px 0px var(--bluelight), 0 0 2px 0 rgba(193,198,206,0.5);
  border: none;
}
.lcp-profile-buttons .uk-button img {
  max-height: 56px;
  transition: all .25s ease-in-out;
}
.lcp-profile-buttons .uk-button:hover img {
  transform: scale(1.15);
}
.lcp-profile-buttons .uk-button span {
  font-size: 13px;
  display: block;
  line-height: 1.25;
  color: var(--bluedark);
  font-weight: 500;
  margin-top: 10px;
  letter-spacing: normal;
}

/* MY ACCOUNT NOTIFICATIONS */

.lcp-notification .uk-label .uk-icon {
  max-height: 22px;
  margin: 0 5px;
  line-height: normal;
  position: relative;
  top: -2px;
  right: -20px;
}
.lcp-notification .uk-label {
  font-weight: 500;
  letter-spacing: 0.5px;
}
.lcp-notification .uk-label:hover {
  background: var(--blue);
}
