
/* LOGIN HEAD */

.lcp-head {
  max-width: 460px;
  margin: 0 auto 20px auto;
}
.lcp-head .uk-navbar-item, .lcp-head .uk-navbar-nav>li>a {
  min-height: 55px;
}
.lcp-head .uk-navbar-nav>li img {
  max-height: 40px;
}
.lcp-form-head {
  max-width: 90%;
  margin: auto;
}
.lcp-form-head .uk-text-meta {
  text-transform: uppercase;
}
.lcp-form-head hr {
  border-top: 2px solid #DEE2E8;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.lcp-form {
  max-width: 340px;
  margin: auto;
}
.lcp-form div.uk-margin {
  margin-bottom: 25px;
}
