
.lcp-cta-footer {
  min-height: 250px;
  margin-top: 50px important;
}


/* LOAN CTA LINK BEHAVIOR */

.lcp-cta .uk-card {
  transition: border 0.5s ease-in-out;
  transition: all .25s ease-in-out;
  padding: 0;
  max-width: 340px;
  width: 340px;
  border: 3px solid var(--bluelight);
  box-shadow: 0 0 8px 0px #FFFFFF;
  height: 190px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.lcp-cta:hover .uk-card {
  text-decoration: none;
  transform: scale(1.05);
}

/* LOAN CTA VIRTUAL CARD */

.lcp-cta.lcp-virtualcard .uk-card img {
  margin: -2px;
  min-width: calc(100% + 3px);
  min-height: calc(100% + 3px);
  max-height: 188px;
}
