@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --lporange: #EB6E27;
  --lpblue: #003267;
  --bluedarkxx: #00264E;
  --bluedarkx: #004B8D;
  --bluedark: #005D9F;
  --blue: #0770B2;
  --bluelight: #0E84C5;
  --bluelightx: #1398D9;
  --bluelightxx: #4CADE4;
  --bluelightxxx: #6EC3EF;
  --lpteal: #5CBFDF;
  --orange: #EB6E27;
  --orangedark: #E8450C;
  --red: #D0021B;
  --black: #2E3C4D;
  --graydarkxx: #4B5867;
  --graydarkx: #697381;
  --graydark: #868F9B;
  --gray: #B6BDC6;
  --graylight: #DEE2E8;
  --graylightx: #E6E9EE;
  --graylightxx: #EEF0F3;
  --graylightxxx: #F7F8F9;
  --green: #64B99A;
  --greenlight: #88D498;
}

* {
  font-family: "Fira Sans","Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Fira Sans","Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: var(--black);
  font-weight: 400;
  letter-spacing: 0.25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b, strong, .uk-text-bold {
  font-weight: 600;
  letter-spacing: 0.25px;
}

.uk-text-bolder {
  font-weight: 500 !important;
}
.uk-text-light {
  font-weight: 300 !important;
  letter-spacing: 0;
}
.uk-text-normal {
  font-weight: 400 !important;
}


pre {
  color: var(--graydarkx);
  font-size: 14px;
  white-space: normal;
  border: 1px solid var(--blue);
  padding: 15px;
  margin: 10px 0;
}
pre code {
  font-family: monospace;
  word-break: break-all;
}

.uk-link, a {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}
.uk-link:hover, a:hover {
  color: var(--bluelight);
  text-decoration: underline;
  cursor: pointer;
}

h1, h2, h3, h4, h5, legend, .uk-heading-small {
  font-family: "Fira Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.25px;
}

.uk-heading-line>* {
  font-weight: 300;
}
.uk-light .uk-heading-line>::after, .uk-light .uk-heading-line>::before {
  border-bottom-color: rgba(255,255,255,.45) !important;
}

.uk-text-meta {
  color: var(--graydark);
  font-size: 13.5px;
  line-height: 1.5;
}

/* TXT AND COLORS */

.uk-text-xxsmall {
  font-size: 11px !important;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.uk-text-xsmall {
  font-size: 12px !important;
  line-height: 1.45;
  letter-spacing: 0.2px;
}
.uk-text-small {
  font-size: 13px !important;
  line-height: 1.35;
  letter-spacing: 0.2px;
}
.uk-text-medium {
  font-size: 16px !important;
}
.uk-text-content {
  font-size: 14px !important;
}
.uk-text-intro {
  font-size: 18px !important;
  line-height: 1.5;
}
.uk-text-large {
  font-size: 20px !important;
}
.uk-text-xlarge {
  font-size: 24px !important;
}
.uk-text-xxlarge {
  font-size: 30px !important;
}
.uk-text-giant {
  font-size: 36px !important;
}
.uk-text-lead {
  font-weight: 300;
  line-height: 1.45;
  font-size: 25px;
}
.uk-text-number {
  font-size: 30px;
  font-weight: 600;
}

.uk-text-bluedarkxx {
  color: var(--bluedarkxx) !important;
}
.uk-text-bluedarkx {
  color: var(--bluedarkx) !important;
}
.uk-text-lpblue {
  color: var(--lpblue) !important;
}
.uk-text-bluedark {
  color: var(--bluedark) !important;
}
.uk-text-blue {
  color: var(--blue) !important;
}
.uk-text-bluelight {
  color: var(--bluelight) !important;
}
.uk-text-bluelightx {
  color: var(--bluelightx) !important;
}
.uk-text-orange {
  color: var(--orange) !important;
}
.uk-text-darkorange {
  color: var(--orangedark) !important;
}
.uk-text-danger {
  color: var(--orangedark) !important;
}
.uk-text-red {
  color: var(--red) !important;
}
.uk-text-black {
  color: var(--black) !important;
}
.uk-text-graydarkxx {
  color: var(--graydarkxx) !important;
}
.uk-text-graydarkx {
  color: var(--graydarkx) !important;
}
.uk-text-gray {
  color: var(--gray) !important;
}
.uk-text-graydark {
  color: var(--graydark) !important;
}
.uk-text-white {
  color: #FFF !important;
}
.uk-text-green, .uk-text-success {
  color: var(--green) !important;
}

.uk-border-blue {
  border-color: var(--blue) !important;
}
.uk-divider-blue {
  border-top: 2px dotted var(--bluelightx) !important;
}
.uk-divider-gray {
  border-top: 2px dotted var(--gray) !important;
}
.uk-divider-graylight {
  border-top: 2px dotted var(--graylight) !important;
}

/* PLACEHOLDERS */

.uk-input::-webkit-input-placeholder, ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A3ABB4;
}
.uk-input::-moz-placeholder, ::-moz-placeholder { /* Firefox 19+ */
  color: #A3ABB4;
}
.uk-input:-ms-input-placeholder, :-ms-input-placeholder { /* IE 10+ */
  color: #A3ABB4;
}
.uk-input:-moz-placeholder, :-moz-placeholder { /* Firefox 18- */
  color: #A3ABB4;
}
.uk-input::placeholder, ::placeholder {
  color: #A3ABB4;
}

.uk-input[disabled]::-webkit-input-placeholder { color: #9098A2; }
.uk-input[disabled]::-moz-placeholder { color: #9098A2; }
.uk-input[disabled]:-moz-placeholder { color: #9098A2; }
.uk-input[disabled]::placeholder { color: #9098A2; }
.uk-input[disabled]:-ms-input-placeholder  { color: #9098A2; }

:disabled::-webkit-input-placeholder { color: #9098A2; }
:disabled::-moz-placeholder { color: #9098A2; }
:disabled:-moz-placeholder { color: #9098A2; }
:disabled::placeholder { color: #9098A2; }
:disabled:-ms-input-placeholder  { color: #9098A2; }



/* UX ELEMENTS */

.uk-background-success {
  background-color: #88D498;
}
.uk-background-muted {
  background-image: linear-gradient(-45deg, #DEE2E8 0%, #EEF0F3 43%, #FBFDFF 100%);
}
.uk-background-primary {
  background-image: radial-gradient(circle at top center, #2796DF 5%, #2081C6 20%, #186CAD 40%, #105895 60%, #07457E 80%, #003267 99%);
  min-height: 600px;
  position: relative;
}
.uk-background-secondary {
  background-image: linear-gradient(180deg, #C1C6CE 0%, #868F9B 100%);
  background-image: radial-gradient(50% 100%, rgba(255,255,255,0.30) 50%, #2F3C4F 85%);
}
.uk-background-primary.bg-angle-top::before {
  content: '';
  background: url('../../images/bg-white-angle-top.svg') no-repeat center top;
  background-size: 100%;
  min-height: 300px;
  width: 100%;
  display: block;
  position: absolute;
  top: -1px;
}
.uk-background-primary.bg-angle-bottom {
  min-height: 300px;
}
.uk-background-blue {
  background: url('../../images/bg-blue-top.svg') no-repeat center top;
}
.uk-background-gray {
  background: url('../../images/bg-gray-top.svg') no-repeat center top;
}
.uk-background-gray-bottom {
  background: url('../../images/bg-gray-bot.svg') no-repeat center bottom;
}

@media (min-width: 1200px) {
  .uk-background-blue {
    background-size: 100%;
  }
  .uk-background-gray, .uk-background-gray-bottom {
    background-size: 100%;
  }
}

/* CARDS */

.uk-card {
  position: relative;
}
.uk-card.uk-card-default {
  background: #FFFFFF;
  border: 1px solid #E6E9EE;
  box-shadow: 0 0 5px 0 rgba(193,198,206,0.35);
}


/* BASE UX */

.lcp-navigation {
  min-height: 90px;
}
.uk-navbar-right {
  height: 90px;
}
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  min-height: 90px;
  padding: 0;
}
.uk-navbar-nav>li>a, .uk-navbar-toggle {
  color: var(--gray);
  padding: 0 10px;
}
.uk-navbar-toggle {
  padding: 0 15px;
}
.uk-navbar-nav>li>a:hover, .uk-navbar-toggle:hover {
  color: var(--blue);
}

.lcp-navigation .uk-logo img {
  max-height: 40px;
}
.lcp-navigation .lcp-heading .uk-heading-small,
.lcp-navigation .lcp-heading .uk-text-meta {
  display: block;
}
.lcp-navigation .lcp-heading .uk-heading-small {
  font-size: 25px;
  font-weight: 300;
  color: var(--blue);
  margin: 0;
  letter-spacing: -0.2px;
}
.lcp-navigation .lcp-heading .uk-text-meta {
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 6px;
}

.lcp-navigation .uk-iconnav>* {
  padding-left: 8px;
}
.lcp-navigation .uk-iconnav a {
  width: 32px;
  height: 32px;
}
.lcp-navigation .uk-iconnav a:hover {
  filter: brightness(80%);
}
.lcp-navigation .uk-iconnav li img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: left;
}
.lcp-navigation .uk-iconnav li.uk-active img {
  object-position: right;
}
.lcp-navigation .lcp-iconnav.uk-iconnav li a {
  position: relative;
}
.lcp-navigation .lcp-iconnav.uk-iconnav li a .uk-badge {
  position: absolute;
  background: var(--orange);
  top: -5px;
  right: -5px;
  z-index: 1;
  font-size: 24px;
  line-height: 20px;
  height: 18px;
  width: 18px;
  min-width: 18px;
  padding: 4px;
  display: inline-block;
}

@media (min-width: 640px) {
  .lcp-navigation {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 960px) {
  .uk-navbar-right, .uk-navbar-left .uk-navbar-nav, .uk-navbar-center, .uk-navbar-toggle {
    height: 70px;
    min-height: 70px;
  }
  .lcp-navigation .lcp-heading .uk-heading-small, .lcp-navigation .lcp-heading .uk-text-meta {
    display: block;
  }
  .lcp-navigation .lcp-heading .uk-heading-small {
    font-size: 22px;
  }
  .lcp-navigation .lcp-heading .uk-text-meta {
    margin-top: 4px;
  }
}
@media (max-width: 840px) {
  .uk-navbar-right, .uk-navbar-left .uk-navbar-nav, .uk-navbar-center, .uk-navbar-toggle {
    height: 60px;
    min-height: 60px;
  }
  .lcp-navigation {
    min-height: 140px;
  }
  .lcp-navigation .uk-navbar-center {
    top: 60px;
    left: 0;
    right: 0;
    transform: none;
    width: 100%;
    height: 80px;
    align-items: initial;
  }
  .lcp-navigation .uk-navbar-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .lcp-navigation .lcp-heading {
    display: block;
    border-top: 2px solid var(--graylightxx);
    padding-top: 15px;
  }
}
@media (max-width: 640px) {
  .lcp-navigation {
    padding-left: 20px;
    padding-right: 10px;
  }
  .lcp-navigation .uk-navbar-center {
    order: 99;
  }
}
@media (max-width: 639px) {
  .lcp-navigation {
    padding-left: 15px;
    padding-right: 15px;
  }
}


body.lcp-container {
  padding: 0;
}
.lcp-container {
  padding: 40px 0 90px;
}
.lcp-container.uk-background-default {
  padding: 0 0 90px;
}

/* TOTOP */

.uk-totop {
  padding: 10px;
  color: var(--gray);
}
.uk-totop:hover {
  color: var(--bluelight);
}

/* FOOTER */

.lcp-footer {
  background:linear-gradient(to right, #868F9B 0%, #697381 100%);
  padding: 25px;
  box-shadow: inset 0 0 10px 1px #697381;
  color: rgba(255,255,255,.95);
}


/* OFFCANVAS */

.uk-offcanvas-overlay::before {
  background: rgba(255,255,255,.8);
}
.uk-offcanvas-bar {
  background-image: linear-gradient(to top, #00264E 0%, #003267 100%);
  border-left: 2px solid var(--bluedarkxx);
  padding: 30px;
}

.uk-offcanvas-bar .uk-nav>li:not(.uk-nav-divider) {
  border-top: 2px dotted var(--bluedark);
}
.uk-offcanvas-bar .uk-nav>li.uk-nav-divider + li {
  border-top: none;
}
.uk-offcanvas-bar .uk-nav>li>a {
  padding: 10px 5px;
  color: var(--gray);
  line-height: 1;
  font-size: 15px;
  font-weight: 400;
}
.uk-offcanvas-bar .uk-nav>li>a:hover {
  color: var(--bluelightx);
}
.uk-offcanvas-bar .uk-nav>li.uk-active>a {
  color: #FFFFFF;
}
.uk-offcanvas-bar .uk-nav>li>a img {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: left;
}
.uk-offcanvas-bar .uk-nav>li.uk-active>a img {
  object-position: right;
  mix-blend-mode: screen;
  filter: brightness(120%);
}
.uk-offcanvas-bar .lcp-offcanvas-nav .uk-nav-header {
  color: var(--bluelightxx);
  border: 0 !important;
}
.uk-offcanvas-bar .lcp-offcanvas-nav .uk-nav-divider {
  border-top: 2px dotted var(--bluelightx);
  margin: 0;
}

/* BUTTONS */

.uk-button {
  font-size: 14px;
  font-weight: 700;
  padding: 20px 30px;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
.uk-button-large {
  padding: 15px 40px;
  font-size: 16px;
  margin: 5px;
}
.uk-button-medium {
  padding: 0 30px;
  font-size: 14px;
  line-height: 38px;
}
.uk-button-default {
  background: var(--graylightxx);
  color: var(--graymed);
  border: 1px solid var(--gray);
}
.uk-button-default:hover,
.uk-button-default:focus,
.uk-button-default:active {
  background: var(--graylight);
  color: var(--graymed);
  border: 1px solid var(--graymed);
}
.uk-button-link {
  color: var(--bluedark);
  line-height: 20px;
  min-height: inherit;
  border-bottom: 2px solid var(--graylight);
  min-width: inherit;
  letter-spacing: 0.2px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 7px 15px;
}
.uk-button-link:hover,
.uk-button-link:focus,
.uk-button-link:active {
  color: var(--blue);
  border-bottom: 2px solid var(--orange);
  text-decoration: none;
}
.uk-button-link .uk-icon {
  margin: 0 2px;
  vertical-align: bottom;
  height: 26px;
  width: 26px;
}
.uk-button-default.uk-close svg,
.uk-button-link.uk-close svg {
  display: none;
}
.uk-button-secondary {
  background-color: #FFFFFF;
  color: var(--blue);
  border: 2px solid var(--blue);
  padding: 15px 20px;
  border-radius: 0;
}
.uk-button-secondary:focus, .uk-button-secondary:hover, .uk-button-secondary:active {
  color: var(--bluelightx);
  border-color: var(--bluelightx);
  background-color: white;
}
.uk-button-primary {
  background-color: var(--lporange);
  color: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px var(--orangedark);
}
.uk-button-primary:hover, .uk-button-primary:focus {
  background-color: var(--orangedark);
  color: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1.5px var(--orangedark);
}
.uk-button-blue {
  background-color: var(--bluedark);
  color: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px var(--bluedarkx);
}
.uk-button-blue:hover, .uk-button-blue:focus {
  background-color: var(--bluedarkx);
  color: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1.5px var(--bluedarkxx);
}

.uk-button-upload-link {
  color: var(--lporange);
  background: transparent;
  border: none;
  text-transform: inherit;
  padding: 10px 15px;
  font-weight: 500;
}
.uk-button-upload-link .uk-icon-image {
  vertical-align: initial;
  height: auto;
  width: auto;
}
.uk-button-text {
  line-height: 2;
  color: var(--graydark);
  font-size: 13px;
  font-weight: 600;
}
.uk-button-text:focus, .uk-button-text:active, .uk-button-text:hover {
  color: var(--bluedark);
}
.uk-button-text::before {
  border-bottom: 1px solid var(--graydark);
}
.uk-button-text:hover::before {
  border-bottom: 1px solid var(--orange);
}
.uk-button-small {
  padding: 10px 25px;
}

.lcp-upload-button {
  color: var(--lporange);
  line-height: 30px;
  margin: 5px 10px;
  border-bottom: 0;
}
.lcp-upload-button img {
  margin-right: 7px;
  height: 30px;
}

.uk-button.loading {
  position: relative;
  padding-right: 60px;
}
.uk-button-primary.loading {
  background: var(--orangedark);
  color:#FFFFFF;
}
.uk-button.loading::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 32px;
  right: 14px;
  top: calc(50% - 14px);
  background-color: rgba(255,255,255,0.95);
  border-bottom: 4px solid var(--blue);
  border-top: 4px solid var(--orange);
  border-right: 4px solid var(--graylight);
  border-left: 4px solid var(--bluelightxx);
  box-shadow: 0 0 0 3px #FFFFFF;
  animation: rotation 0.75s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* PLACEHOLDER */

.uk-placeholder {
  margin-bottom: 20px;
  padding: 30px 30px;
  border: 2px dotted var(--gray);
  border-radius: 5px;
  margin: 5px;
}

/* TABS */

.uk-tab>*>a {
  border-bottom: 2px solid transparent;
  padding: 10px;
}
.uk-tab-left>*>a {
  text-align: left;
  border-right: 2px solid transparent;
  border-bottom: none;
}

.uk-tab>.uk-active>a {
  border-color: var(--bluelight);
}

/* PILL NAVS */

.uk-subnav>* {
  line-height: 1;
}
.uk-subnav-pill>*>:first-child {
  padding: 4px 20px;
  color: var(--graydark);
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.35px;
  background: #FFFFFF;
  border: 2px solid var(--graylight);
  border-radius: 30px;
}
.uk-subnav-pill>.uk-active>span {
  background-color: #FFFFFF;
  border: 2px solid var(--bluelightx);
  color: var(--bluelight);
  font-weight: 600;
}
.uk-subnav-pill>.uk-done>span {
  background-color: var(--bluelightx);
  border: 2px solid var(--bluelightx);
  color: #FFFFFF;
  font-weight: 600;
  padding: 4px 20px 4px 10px;
}
.uk-subnav-pill>.uk-done>span::before {
  content: '';
  background: url('../../images/icons/ico-check-white.svg') no-repeat center center;
  width: 16px;
  height: 14px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
}

/* BADGES */

.uk-label {
  background: var(--bluelight);
  color: #FFFFFF;
  line-height: 1;
  font-size: 11px;
  font-weight: 700;
  padding: 7px 9px;
  letter-spacing: 0.25px;
}

.uk-label-danger {
  background-color: var(--orangedark);
}
.uk-label-success {
  background-color: var(--green);
}

.uk-label.uk-label-pill {
  border: 2px solid var(--gray);
  border-radius: 30px;
  line-height: 35px;
  color: var(--graydarkx);
  background: #FFFFFF;
  font-size: 13px;
  font-weight: 600;
  padding: 0 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.uk-label.uk-label-pill.uk-label-disabled {
  border: 2px solid var(--graylight);
  color: var(--graydark);
  background: var(--graylight);
}
.uk-label.uk-label-pill.uk-label-active {
  border: 2px solid var(--green);
  color: var(--green);
  background: #FFFFFF;
}
.uk-label.uk-label-pill.uk-label-info {
  border: 2px solid var(--bluelight);
  color: #FFFFFF;
  background: var(--bluelight);
}


/* MODALS */

.uk-lightbox {
  background: rgba(38,54,75,.95);
}
.uk-lightbox-toolbar {
  background: rgba(38,54,75,0);
}


.uk-modal {
  background: rgba(38,54,75,.8);
  padding: 20px;
}
.uk-modal-body {
  padding: 30px;
  color: var(--graydarkx);
  line-height: 1.4;
  position: relative;
}

@media (max-width: 640px) {
  .uk-modal-body {
    padding: 30px 20px 20px;
  }
}

.uk-modal-header {
  padding: 20px 30px;
  color: var(--blue);
  text-align: center;
  border-bottom: 2px solid var(--graylightxx);
}
.uk-close {
  color: var(--gray);
}
.uk-close-large {
  top: 15px;
}
.uk-modal-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}
.uk-modal-footer {
  border-top: 0;
  padding: 20px 30px;
  border-top: 2px solid var(--graylightxx);
}
.uk-modal-footer .uk-button {
  margin: 0 5px;
  padding: 12.5px 20px;
  min-width: 160px;
}

/* FORMS APP */


.uk-form-stacked .uk-form-label {
  text-align: left;
}

.uk-form-label {
  font-size: 14.5px;
  font-weight: 400;
  color: var(--lpblue);
  line-height: 1.5;
  padding: 0 10px;
}

.uk-legend {
  font-size: 18px;
  color: var(--blue);
  font-weight: 500;
  text-transform: uppercase;
}
.uk-legend.uk-heading-divider {
  font-size: 18px;
  color: var(--blue);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2;
}

.uk-legend.uk-heading-small {
  font-size: 17px;
  color: var(--blue);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0;
  letter-spacing: normal;
}

.uk-form-badge {
  font-size: 13px;
  font-weight: 400;
  padding: 0;
  color: var(--graymed);
  text-transform: uppercase;
  letter-spacing: 0.25px;
}
.uk-form-badge .uk-badge {
  min-width: 50px;
  height: 50px;
  padding: 7px;
  border-radius: 50px;
  vertical-align: middle;
  background: white;
  color: var(--blue);
  font-size: 22px;
  box-shadow: inset 0 0 0 2px var(--gray);
  margin-bottom: -57.5px;
  margin-right: -56px;
  border: 3px solid white;
}
.uk-input:disabled, .uk-select:disabled, .uk-textarea:disabled,
.uk-input:disabled:hover, .uk-select:disabled:hover, .uk-textarea:disabled:hover,
.uk-input:disabled:focus, .uk-select:disabled:focus, .uk-textarea:disabled:focus,
.uk-form-custom select:disabled + .uk-button, .uk-button:disabled,
.uk-button:disabled:hover, .uk-button:disabled:focus, button:disabled,
button:disabled:hover, button:disabled:focus {
  border: 1px solid #C1C7CF;
  background: #EEF0F2;
  color: var(--graydark);
  box-shadow: inset 0 0 10px 3px var(--graylightxxx);
  cursor: not-allowed !important;
}
.uk-input, .uk-select, .uk-textarea, .uk-form-custom select {
  border: 1px solid var(--gray);
  color: var(--graydarkx);
  background: #F8F9FA;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 400;
  padding: 0 13px;
  line-height: 40px;
  height: 40px;
}

.uk-form-custom select + .uk-button {
  border: 1px solid var(--gray);
  color: var(--graydarkx);
  background: rgba(249,249,249,0.5);
  padding: 0 20px;
  line-height: 50px;
  position: relative;
}
.uk-form-custom select + .uk-button .uk-icon {
  color: var(--graydarkx);
  position: absolute;
  right: 15px;
  top: calc(50% - 10px);
}
.uk-input:focus, .uk-select:focus, .uk-textarea:focus,
.uk-form-custom select:focus + .uk-button {
  border-color: var(--blue);
  color: var(--graydarkxx);
}

.uk-input:not(:optional):valid, .uk-select:not(:optional):valid, .uk-textarea:not(:optional):valid,
.uk-form-custom select:not(:optional):valid + .uk-button {
  background: #FFFFFF;
  border-color: var(--gray);
  color: var(--graydarkxx);
}
.uk-form-custom select:focus + .uk-button {
  border-color: var(--blue);
}
.uk-form-custom select:focus + .uk-button .uk-icon {
  color: var(--blue);
}
.uk-select[multiple], .uk-select[size], .uk-textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}
.uk-radio {
  border: 1px solid transparent;
  margin-right: 2px;
  height: 24px;
  width: 24px;
  margin-top: 0;
  box-shadow: inset 0 0 0 1.5px var(--gray);
}
.uk-checkbox {
  border: 1px solid transparent;
  margin-right: 2px;
  background-color: #FFFFFF;
  width: 24px;
  height: 24px;
  box-shadow: inset 0 0 0 1.5px var(--gray);
}
.uk-checkbox:focus, .uk-radio:focus {
  border-color: transparent;
  box-shadow: inset 0 0 0 1.5px var(--bluelight);
}
.uk-checkbox:checked, .uk-checkbox:indeterminate {
  background-color: var(--bluedark);
  border-color: transparent;
}
.uk-radio:checked {
  background: url(../../images/icons/ico-radio-checked.svg) no-repeat;
  background-size: contain;
  border-color: transparent;
  background-color: var(--bluedark);
  border-radius: 30px;
  box-shadow: inset 0 0 0 1.5px var(--bluedark);
}
.uk-checkbox:checked {
  background-image: url(../../images/icons/ico-checkbox-checked.svg);
  box-shadow: inset 0 0 0 1.5px var(--bluedark);
}
.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus {
  background-color: var(--bluedark);
}
.uk-form-controls .uk-form-custom {
  width: 100%;
}
.uk-form-controls .uk-form-custom .uk-button {
  text-align: left;
  height: 40px;
  line-height: 20px;
  padding: 10px 20px;
  min-width: 100%;
  background: rgba(249,249,249,0.5);
  color: var(--graydarkx);
  text-transform: inherit;
  letter-spacing: normal;
  font-weight: 400;
  padding-left: 12px;
  padding-right: 10px;
  font-size: 14.5px;
}

.uk-form-icon {
  color: var(--gray);
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  width: 44px;
  mix-blend-mode: multiply;
}
.uk-form-icon-flip~.uk-input {
  padding-right: 46px!important;
}
.uk-form-controls-text label {
  color: var(--graydarkx);
  font-size: 14px;
}

.uk-form-controls-text label a {
  color: var(--bluelight);
  text-decoration: underline;
}

.uk-tooltip {
  position: absolute;
  max-width: 240px;
  padding: 6px 10px;
  background: var(--blue);
  border-radius: 2px;
  color:#FFFFFF;
  font-size: 12.5px;
  font-weight: 500;
  letter-spacing: normal;
}

/* CUSTOM TOGGLES */

.check-toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 100px;
  background-color: var(--graylight);
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
}
.check-toggle .checkbox {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}
.check-toggle .switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 30px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.check-toggle .checkbox:checked ~ .switch {
  right: 2px;
  left: 30px;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: .05s, 0s;
}
.check-toggle .track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
  border-radius: 40px;
}
.check-toggle .checkbox:checked ~ .track {
  box-shadow: inset 0 0 0 20px var(--greenlight);
}


/* RADIOBUTTONS GROUP */

.lcp-radiobtn {
  margin-bottom: 3px;
}
.lcp-radiobtn div {
  position: relative;
}

.lcp-radiobtn .uk-radio, .lcp-radiobtn .uk-radio:checked {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  left: 0;
  top: 0;
  background: transparent;
  border: 0;
  z-index: 1;
  box-shadow: none;
}

.lcp-radiobtn label {
  padding: 5px 5px 5px 5px !important;
  box-shadow: inset 0 0 0 1.5px var(--graylight);
  border: 3px solid #FFFFFF;
  max-width: 100%;
  display: block;
  text-align: left;
  background: #FFFFFF;
}

.lcp-radiobtn .uk-radio::after {
  content: '';
  height: 24px;
  width: 24px;
  z-index: 1;
  border-radius: 24px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
  background: #FFFFFF;
  border: none;
  box-shadow: inset 0 0 0 1.5px var(--gray);
}
.lcp-radiobtn .uk-radio:checked::after {
  background: var(--bluedark);
  box-shadow: inset 0 0 0 1.5px var(--bluedark);
}
.lcp-radiobtn .uk-radio:checked::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../../images/icons/ico-radio-checked.svg) no-repeat;
  display: inline-block;
  position: relative;
  left: 15px;
  top: 15px;
  z-index: 2;
}
.lcp-radiobtn .uk-radio:checked + label {
  background: #FFFFFF;
  box-shadow: inset 0 0 0 1.5px var(--bluedark);
}
.lcp-radiobtn .uk-radio:checked + label span  {
  color: var(--bluedark);
}
.lcp-radiobtn .uk-radio:hover + label  {
  box-shadow: inset 0 0 0 1.5px var(--blue), inset 0 0 8px 1px var(--graylight);
}
.lcp-radiobtn .uk-radio:hover::after  {
  box-shadow: inset 0 0 0 1.5px var(--gray), inset 0 0 3px 1.5px var(--graylight);
}
.lcp-radiobtn .uk-radio:checked:hover::after  {
  box-shadow: inset 0 0 0 1.5px var(--bluedark), inset 0 0 3px 1.5px var(--bluedark);
}
.lcp-radiobtn .uk-radio:hover + label span {
  color: var(--black);
}
.lcp-radiobtn label span {
  color: var(--graydark);
  font-size: 14px;
  margin: 10px 15px 10px 40px;
  display: block;
  letter-spacing: normal;
}


/* LOGIN & PASS FORMS */


form .validation-error {
  color: var(--orangedark);
  font-size: 13.5px;
  padding: 5px;
  border-top: 2px solid var(--orangedark);
  font-weight: 400;
  display: block;
  margin-top: -1px;
  position: relative;
}
form .validation-error .uk-icon {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
}


/* ALERTS */

.uk-alert {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  background: #f8f8f8;
  color: var(--black);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}
.uk-alert-close {
  opacity: .6;
  color: inherit;
}

.uk-alert-warning {
  background: rgba(255,240,230, 0.35);
  color: #FA6400;
  border: 1px solid var(--orange);
  box-shadow: inset 0 0 5px 1px #ffcdac;
  color: var(--orangedark);
}
.uk-alert-transparent {
  background: transparent;
  border: 1px solid transparent;
  margin: 0;
  padding: 30px 20px;
}


/* MINIBUTTONS CTAS */

.lcp-minibutton {
  padding: 10px;
  border: 1px solid var(--graylightx);
  background-image: linear-gradient(to right, rgba(237,238,240,0.60) 0%, #FFFFFF 50%);
  box-shadow: 0 0 5px 0 rgba(193,198,206,0.35);
  margin-bottom: 25px;
}
.lcp-minibutton:hover {
  border-color: var(--blue);
  box-shadow: inset 0 0 3px 0.5px var(--bluelight);
  background-image: linear-gradient(to right, rgba(237,238,240,0.60) 0%, #FFFFFF 30%);
}
.lcp-minibutton img {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 2px solid #C1C6CE;
}
.lcp-minibutton strong, .lcp-minibutton span  {
  display: block;
  white-space: nowrap;
  line-height: 1.5;
}
.lcp-minibutton strong {
  font-size: 17px;
  font-weight: 500;
}
.lcp-minibutton span {
  font-size: 12.5px;
  font-weight: 500;
  text-transform: uppercase;
}


/* LISTS */

.uk-list-divider>li:nth-child(n+2) {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px dotted var(--graylight);
}


/* TABLES */

.uk-table-divider>:first-child>tr:not(:first-child),
.uk-table-divider>:not(:first-child)>tr,
.uk-table-divider>tr:not(:first-child) {
  border-top: 2px dotted var(--graylight);
}
.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
  background: var(--graylightxxx);
  border-top: 1px dotted var(--graylight);
  border-bottom: 1px dotted var(--graylight);
}
.uk-table-hover tbody tr:hover, .uk-table-hover>tr:hover {
  background: #DCF6F9;

}

/* HELPBOX */

.lcp-helpbox {
  background: var(--graylight);
  padding: 15px;
  box-shadow: inset 0 0 6px -1px var(--gray);
}
.lcp-helpbox small {
  font-size: 12.5px;
  font-weight: 400;
  line-height: 1;
}
.lcp-helpbox small.lcp-phone {
  font-weight: 500;
  font-size: 13px;
}
.lcp-helpbox small.lcp-hours {
  margin-left: 5px;
  color: var(--graydarkxx) !important;
}

@media (max-width: 580px){

}
