
/* PAYMENTS RECEIPT CARD */

.lcp-receipt {
    max-width: 540px !important;
  }
  .lcp-receipt .uk-card {
    border: 2px solid #C1C6CE !important;
    padding: 0 !important;
  }
  .lcp-receipt .lcp-payment-info {
    border-bottom: 2px dotted #C1C6CE !important;
    padding: 15px !important;
  }
  .lcp-receipt .lcp-payment-info:last-child {
    border-bottom: 0 !important;
  }
  .lcp-receipt .lcp-payment-info .lcp-icon-ok {
    max-width: 36px !important;
    margin-right: 10px !important;
  }
  
  
  /* PAYMENTS BUTTON */
  