.uk-offcanvas-bar,
.uk-nav-divider {
  background-color: #00264E !important;
}

.current-path {
  // background-color: #0e6dcd !important;
  background: #39f;
  // color: red !important;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  opacity: 70%;
  border-radius: 20%;
  text-shadow: none;
}

.current-path-mobile {
  background: #39f;
  // opacity: 70%;
}